@import url('../variables.css');

@media screen and (max-width: 576px) {
    footer {
        height: fit-content;
    }

    .f-container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items:start;
        justify-content: left;
        row-gap: 2vh;
    }

    .f-container > div {
        width: 100%;
    }

    .f-container>div:not(:last-child):after {
        display: none;
    }

    .flex {
        height: fit-content;
        width: 100%;
    }

    .social-c {
        padding: 1vh 1.3vw;
    }

    .contact-container > h2 {
        padding-bottom: 1vh;
    }

    .social-c {
        padding: 1.5vh 4vw;
        gap: 2vw;
    }

    .social-c > a > img {
        height: 2vh;
    }

    .social-c a {
        width: 4vh;
        height: 4vh;
    }
}